:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100vw;
}

a {
  font-weight: 500;
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background-color: rgb(227, 227, 227);
}

h1 {
  font-size: 3em;
  line-height: 1.1;
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #0e7c04;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #3a3a3a;
    background-color: #ffffff;
  }
  a:hover {
    color: #0e7c04;
  }
  button {
    background-color: #f9f9f9;
  }
}
/* custom css */
nav {
  height: 4em;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em 0 2em;
  margin-bottom: 3em;
  border-bottom: #0e7c04 solid 8px;
}
nav #navLogo {
  height: 3em;
}
nav .navItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav .searchBar {
  height: 1.5em;
  border: solid 1px grey;
  border-radius: 5px;
  padding: 0 1em 0 1em;
}
nav .searchBar input {
  width: 25em;
  border: none;
}
nav .searchBar input:active {
  border: none;
}
nav p {
  margin: 0;
}

.flexRow {
  display: flex;
  flex-direction: row;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main header {
  display: flex;
  justify-content: center;
  padding: 0 5em 0 5em;
  flex-wrap: wrap;
}
main header img {
  width: 45%;
  height: auto;
}
main header div {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding: 0 4em 0 4em;
}

button {
  font-weight: 600;
  letter-spacing: 1px;
  border: solid #0d2e00 1.5px;
}

button:hover {
  background-color: #0d2e00;
  color: white;
}

aside {
  margin-top: 2em;
  padding-left: 2em;
}

.outerContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 4em;
}

.productContainer {
  background-color: white;
  width: 70%;
  padding: 3em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.productContainer div.productInfo {
  width: 45%;
}
.productContainer .cardImg {
  width: 100%;
}
.productContainer .productPageImg {
  width: 45%;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2em;
}
.productList .productCard {
  width: 14em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  padding: 1.25em;
}
.productList .productCard .price {
  font-size: 3em;
  font-family: "Berkshire Swash", serif;
  font-weight: 400;
  color: #0e7c04;
  margin: 0em 0 0.2em 0;
}

footer {
  height: 20vh;
  width: 100vw;
  background-color: #0d2e00;
}/*# sourceMappingURL=index.css.map */